* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

/* div {
   font-family: 'Raleway', sans-serif;
   font-weight: bold;
} */

.title {
   font-family: 'Raleway', sans-serif;
   font-weight: 400;
   font-size: 36px;
   text-align: center;
   text-transform: uppercase;
}

.line {
   width: 170px;
   border-bottom: 1px solid #ec7979;
}

.text {
   font-size: 18px;
   font-family: 'Raleway', sans-serif;
   font-weight: 400;
   color: rgba(134, 135, 139, 1);
   text-align: center;
}

.awesome {
   height: 100vh;
}

.pricing {
   height: 100vh;
   background-color: #f5f5f5;
}

.pricing__title {
   padding: 40px 0;
}

.pricing__line {
   margin: 0 auto 40px;
}

.pricing__text {
   margin-bottom: 110px;
}

.awesome__title {
   padding: 40px 0;
}

.awesome__line {
   margin: 0 auto 40px;
}

.awesome__article-wrapper {
   padding-left: 145px;
}

.awesome__article-image {
   margin-bottom: 30px;
}

.awesome__text {
   margin-bottom: 110px;
}

.awesome__article {
   display: inline-block;
   width: 30%;
   text-align: center;
}

.awesome__article-title {
   font-family: 'Raleway', sans-serif;
   font-weight: 700;
   font-size: 24px;
   margin-bottom: 40px;
   text-align: center;
}

.awesome__article-text {
   font-family: 'Raleway', sans-serif;
   font-weight: 400;
   font-size: 18px;
   width: 370px;
   margin: 0 auto;
}